
.bgcolor-black {
    background-color: black;
}
.bgcolor-dark-grey {
    background-color: darkgrey;
}
.bgcolor-blue {
    background-color: lightblue;
}
.bgcolor-white {
    background-color: white;
}
.bgcolor-grey {
    background-color: #eee
}

.text-white {
    color: white;
}
.text-black {
    color: black;
}